body{
  background: #FFDEAD;
  margin: 0 auto;
}
h1, h2, h3, h4, h5 {
  padding-top: 0;
  margin-top: 0;
}

#block-body {
    width: 1035px;
    margin: 5px auto;
    height: 100px;
    marigin: 0 auto;
    position: relative;
}

header {
   width: 1035px;
   height: 96px;
   background-color: #FFEFD5;
   border: 6px;
   border-radius: 25px;
   position: relative;
}

.logo {
    width: 200px;
    float: left;
    height: 80px;
}
.logo a {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    font-family: "The Nautigal", cursive;
    font-size: 45px;
    color:  #b2aeb2;
    text-decoration: none;
    cursor: pointer;
}
#use {
    color: #aa064b;
    font-size: 65px;

}

.logoColor {
  position: absolute;

}

h1 {
  padding-top: 0;
  margin-top: 0;
}
#web {
    color: #429595;
    font-size: 65px;

}


h3 {
  position: absolute;
  font: left;
  margin-left: 25%;
  margin-bottom: 40%;
}
.logo p {
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 5px;
    font-family: "The Nautigal", cursive;
    font-size: 20px;
    color: #4B0082;
}
.top-menu {
    width: 685px;
    height: 80px;
    float: left;
    margin-left: 85px;
}
.top-menu ul li {
    list-style: none;
    float: left;
    text-align: center;

}
.top-menu ul li a {
    display: block;
    width: 171px;
    text-decoration: none;
    font-family: "The Nautigal", cursive;
    font-size: 40px;
    color: #4B0082;
    height: 55px;
    padding-top: 25px;
    cursor: pointer;
    margin-top: -0.5em;
}

.top-menu ul li a {
  font-size: 65px;
  padding-bottom: 15px;
}


.top-menu ul li a:hover {
    transition: all 0.5s ease;
    background: #DEB887;

}
.h1 {
 font-family: The Nautigal, cursive;
 font-size: 80px;
 background: #FFDEAD;
 color: #4B0082;
 width: auto;
 height: 120px;
 margin: 0;
 padding: 0 auto;

}
.navigation{
  font-family: The Nautigal, cursive;
  font-size: 90px;
  width: 100%;
  height: 1300px;
  margin: 0 auto;
}


.pict {

  width: 100%;
  height: 100%;

  background: url("1.jpg") center
  no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0 auto;
}
.story_title p{
  font-family: The Nautigal,cursive;
  font-size: 100px;
  margin: 50px auto;
}

.story {
  display: flex;
}
.story_text{
  font-family: cursive;
  font-size: 48px;
  margin-left: 300px;
  margin-right: 300px;
  min-height: 300px;
  display: flex;

}
.story_text img {
  height:  700px;
  width: 550px;
}


.about_title p{
  font-family: The Nautigal,cursive;
  font-size: 100px;

  margin-left: 15%;
  padding-top: 5%;
  font: left;
}

.about_text {
  font-family: cursive;
  font-size: 40px;
  max-width: 30%;
  margin-left: 10%;
}

.about {
  width: 100%;
  height: 100vh;

  background: url("about.png") center
  no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0 auto;
}

.contact{
  width: 100%;
  height: 150px;
  marigin: 0 auto;
  padding: 0 auto;
  background: #FFEFD5;
  margin-left: 10% auto;
  text-align: center;
}

.contact p {
  font-family: cursive;
  font-size: 32px;
}

.contacts_text li a {
  text-decoration: none;
  color: black;
  list-style: none;
  margin-left: 20px;

}
.contacts_text{
  padding-left: 35%;
  display: flex;
  width: 171px;
  text-decoration: none;
  font-family: cursive;
  font-size: 26px;
  list-style-type: none;
  height: 55px;
  margin-bottom: 25px;
  cursor: pointer;
}
